@import "../components/progress-bar";
@import "../components/action-buttons";
@import "wysiwyg";

:root {
	--jet-fb__range-field-slider--size: 18px;
	--jet-fb__range-field-slider--br: 50%;
	--jet-fb__range-field-slider--bgc: #ccc;
	--jet-fb__range-field-range--height: 4px;
	--jet-fb__range-field-range--bgc: #e3ddd8;
}

.jet-form-builder.is-loading {
	opacity: .5;
	pointer-events: none
}

.jet-form-builder-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 5px 0;
	flex-direction: column;

	&.is-loading {
		opacity: 0.5;
	}
}

.jet-form-builder-row.jet-form-builder-row--hidden {
	margin: 0 !important;
	padding: 0 !important
}

.jet-form-builder__group-break {
	width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%
}

.jet-form-builder-col {
	min-height: 1px;
	padding: 0 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%
}

.jet-form-builder-col.field-type-heading {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important
}

.layout-row .jet-form-builder-col {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.jet-form-builder-col__start {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%
}

.jet-form-builder-col__end {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

.jet-form-builder--hidden {
	display: none;
}

.jet-form-builder-page--hidden {
	display: none
}

.jet-form-builder__calculated-field {
	display: flex;
	width: 100%;
}

.jet-form-builder__calculated-field--hidden {
	display: none;
}

.layout-column .jet-form-builder__label {
	max-width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%
}

.jet-form-builder__heading, .jet-form-builder__label {
	/*-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;*/
	width: 100%
}

.jet-form-builder__field-error {
	width: 100%
}

.jet-form-builder__desc {
	display: block
}

.layout-column .jet-form-builder__desc {
	max-width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%
}

.jet-form-builder__prev-page {
	outline: none
}

.jet-form-builder__field {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.layout-column .jet-form-builder__field:not(.checkboxes-field):not(.radio-field):not(.range-field) {
	max-width: 100%;
	width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: unset;
}

.layout-row .jet-form-builder__field:not(.checkboxes-field):not(.radio-field):not(.range-field) {
	width: 100%
}

.jet-form-builder__field-wrap {
	position: relative;
}

.jet-form-builder__field-label {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.jet-form-builder__field-template + .jet-form-builder__field-label {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0
}

.jet-form-builder__field-label input {
	margin: 0 5px 0 0
}

.rtl .jet-form-builder__field-label input {
	margin: 0 0 0 5px
}

.jet-form-builder__field-template {
	cursor: pointer
}

.jet-form-builder__field-value {
	white-space: nowrap;
	display: flex;
}

.jet-form-builder__field-value-number {
	/*display: inline-block;*/
	text-align: center
}

button.jet-form-builder__submit {
	display: inline-flex;
	justify-content: flex-start;
}

.jet-form__check-mark {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.jet-form__check-mark__icon.is-svg-icon svg {
	display: block
}

.jet-form-builder__check-mark--default {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.jet-form-builder__field-template--checked .jet-form__check-mark--default {
	display: none
}

.jet-form-builder__check-mark--checked {
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.jet-form-builder__field-template--checked .jet-form__check-mark--checked {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.jet-form-builder-repeater__initial {
	display: none
}

.jet-form-builder-repeater__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 15px 0
}

.jet-form-builder-repeater__row-fields {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

.jet-form-builder-repeater__row .jet-form-builder-col {
	padding: 0 5px
}

.jet-form-builder-repeater__actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 10px 0 0 0;
}


.jet-form-builder-repeater__remove {
	margin: 0 0 0 10px;
	text-decoration: none !important
}

.layout-column .jet-form-builder__fields-group.checkradio-wrap {
	width: 100%
}

.jet-form-builder__field-wrap.range-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%
}

input[type="range"].jet-form-builder__field.range-field {
	margin-right: 10px;
	-webkit-appearance: none;
	min-height: var(--jet-fb__range-field-slider--size, 18px);
	width: 100%;
}

.rtl input[type="range"].jet-form-builder__field.range-field {
	margin-left: 10px;
	margin-right: 0;
	width: 100%;
}

input[type="range"] {
	&.jet-form-builder__field.range-field {
		&,
		&:focus {
			padding: 0;
			background: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			outline: none
		}

		// Track
		&::-webkit-slider-runnable-track {
			width: 100%;
			height: var(--jet-fb__range-field-range--height, 4px);
			background: var(--jet-fb__range-field-range--bgc, #e3ddd8);
			border-radius: var(--jet-fb__range-field-range--br, 0);
			cursor: pointer;
			box-shadow: none;
			border: none;
		}

		&::-moz-range-track,
		&::-ms-track {
			width: 100%;
			height: var(--jet-fb__range-field-range--height, 4px);
			background: var(--jet-fb__range-field-range--bgc, #e3ddd8);
			border-radius: var(--jet-fb__range-field-range--br, 0);
			cursor: pointer;
			box-shadow: none;
			border: none;
		}

		&::-ms-track {
			color: transparent
		}

		// Thumb
		&::-webkit-slider-thumb {
			width: var(--jet-fb__range-field-slider--size, 18px);
			height: var(--jet-fb__range-field-slider--size, 18px);
			background: var(--jet-fb__range-field-slider--bgc, #ccc);
			border-radius: var(--jet-fb__range-field-slider--br, 50%);
			cursor: pointer;
			box-shadow: none;
			border: none;
			margin-top: calc((var(--jet-fb__range-field-slider--size, 18px) - var(--jet-fb__range-field-range--height, 4px)) / -2);
			-webkit-appearance: none
		}

		&::-moz-range-thumb,
		&::-ms-thumb {
			width: var(--jet-fb__range-field-slider--size, 18px);
			height: var(--jet-fb__range-field-slider--size, 18px);
			background: var(--jet-fb__range-field-slider--bgc, #ccc);
			border-radius: var(--jet-fb__range-field-slider--br, 50%);
			cursor: pointer;
			box-shadow: none;
			border: none;
		}

		&::-ms-fill-upper,
		&::-ms-fill-lower {
			background: transparent
		}
	}
}

.jet-form-builder-message {
	margin: 20px 0 0 0;
	text-align: center;
	padding: 20px
}

.jet-form-builder-message--success {
	border: 1px solid green;
	color: green
}

.jet-form-builder-message--error {
	border: 1px solid red;
	color: red
}

.jet-form-builder-file-upload {
	&__files {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	&__content {
		min-height: 100px;
		min-width: 100px;
		position: relative;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex
	}

	&__loader {
		top: 0;
		left: 0;
		right: 10px;
		bottom: 10px;
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		display: none;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	&__file {
		width: 100px;
		height: 100px;
		margin: 0 10px 10px 0;
		position: relative;
		background-color: rgba(123, 123, 123, 0.2);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%237a7a7a' width='48px' height='48px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;

		&-remove {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			bottom: 0;
			cursor: pointer;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-transition: opacity 200ms linear;
			transition: opacity 200ms linear;
			opacity: 0;
			background: rgba(0, 0, 0, 0.4);

			svg path {
				fill: #fff;
			}
		}

		&-invalid-marker {
			position: absolute;
			top: 0.15em;
			right: 0.15em;
			background-color: #fff;
			border-radius: 50%;
			color: #a52a2a;
			height: 24px;
		}

		img {
			display: block;
			width: 100%;
			height: 100% !important;
			padding: 0;
			margin: 0;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center center;
			object-position: center center
		}

		&:hover .jet-form-builder-file-upload__file-remove {
			opacity: 1
		}
	}

	&__errors.is-hidden {
		display: none
	}

	.is-loading .jet-form-builder-file-upload__file {
		opacity: .5
	}

	.is-loading .jet-form-builder-file-upload__loader {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}

	.sortable-placeholder {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100px;
		flex: 0 0 100px;
		width: 100px;
		margin: 0 10px 10px 0;
		position: relative;
		background: rgba(123, 123, 123, 0.2);
		height: 100px
	}

	&__input {
		border: none !important;
		padding: 0 !important;
		border-radius: 0 !important;
		margin: 0 !important;
		width: auto !important
	}
}

.jet-form-builder__field-wrap:not(.checkradio-wrap) {
	width: 100%;
}

.jet-form-builder__field.checkradio-field {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.jet-form-builder__field-label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

//.jet-form-builder__field-wrap.checkradio-wrap.custom-option,
.jet-form-builder__field-label {
	& > span::before {
		content: '';
		display: inline-block;
		width: 1.2em;
		height: 1.2em;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid #adb5bd;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}
}

//.jet-form-builder__field-wrap.radio-wrap.custom-option,
.jet-form-builder__field-label.for-radio {

	& > span::before {
		border-radius: 50%;
	}

	/* стили при наведении курсора на радио */
	:not(:disabled):not(:checked):hover + span::before {
		border-color: #b3d7ff;
	}

	/* стили для активной радиокнопки (при нажатии на неё) */
	:not(:disabled):active + span::before {
		background-color: #b3d7ff;
		border-color: #b3d7ff;
	}

	/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
	:focus:not(:checked) + span::before {
		border-color: #80bdff;
	}

	/* стили для радиокнопки, находящейся в состоянии checked */
	:checked + span::before {
		border-color: #0b76ef;
		background-color: #0b76ef;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
	}

	/* стили для радиокнопки, находящейся в состоянии disabled */
	:disabled + span::before {
		background-color: #e9ecef;
	}
}


//.jet-form-builder__field-wrap.checkboxes-wrap.custom-option,
.jet-form-builder__field-label.for-checkbox {

	& > span::before {
		border-radius: 10%;
	}

	/* стили для чекбокса, находящегося в состоянии checked */
	:checked + span::before {
		border-color: #0b76ef;
		background-color: #0b76ef;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}

	/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
	:focus:not(:checked) + span::before {
		border-color: #80bdff;
	}

	/* стили для активного чекбокса (при нажатии на него) */
	:not(:disabled):active + span::before {
		background-color: #b3d7ff;
		border-color: #b3d7ff;
	}

	/* стили при наведении курсора на checkbox */
	:not(:disabled):not(:checked):hover + span::before {
		border-color: #b3d7ff;
	}

	/* стили для чекбокса, находящегося в состоянии disabled */
	:disabled + span::before {
		background-color: #e9ecef;
	}
}

.jet-form-builder__field-wrap.checkradio-wrap {
	margin-bottom: 0.7em;

	span {
		/*display: contents;*/
		display: flex;
		align-items: center;
	}
}

.rtl .jet-form-builder-row,
.rtl .jet-form-builder__field,
.rtl .jet-form-builder__next-page-wrap {
	text-align: right;
}

.rtl .jet-form-builder__field-label > span::before {
	margin-right: unset;
	margin-left: 0.5em;
}

@mixin error-message {
	color: red;
	font-size: 0.8rem;
}

.jet-form-builder-row.field-has-error {
	.error-message {
		@include error-message;
	}
}

.jet-form-builder__field.field-has-error {
	& + .error-message {
		@include error-message;
	}

	.error-message {
		@include error-message;
	}
}

.block-editor-block-list__block[data-type^="jet-forms/"] {
	max-width: 100%;
}

.components-button.has-icon:not(.has-text) .dashicon.dashicon {
	margin: unset;
}

.layout-row .jet-form-builder-row {
	flex-wrap: nowrap;
	flex-direction: row;
}

.jet-fb-map-field {
	width: 100%;
}