.field-type-switcher {

	--thumb-size: 1rem;
	--track-size: calc(var(--thumb-size) * 2);
	--track-padding: 2px;
	--thumb-color-highlight: hsla(0, 0%, 0%, 0.25);
	--highlight-size: 0;
	--thumb-transition-duration: 0.4s;
	--thumb-position: 0%;
	--isLTR: 1;


	input.jet-form-builder__field {
		appearance: none;
		outline-offset: 5px;
		padding: var(--track-padding);
		inline-size: var(--track-size);
		block-size: var(--thumb-size);
		background: #ddd;
		border-radius: var(--track-size);
		transition: background-color 0.4s;
		position: relative;
		cursor: pointer;
		box-sizing: content-box;
		border: unset; // compatibility with wp-admin/css/forms.css
		margin: unset; // compatibility with wp-admin/css/forms.css


		&:not(:disabled):hover {
			&::before {
				--highlight-size: 0.5rem;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 2px; // This should be half the difference between switch height and thumb size
			left: 2px;
			inline-size: var(--thumb-size);
			block-size: var(--thumb-size);
			border-radius: 50%;
			background: white;
			transition: transform var(--thumb-transition-duration) ease, box-shadow .25s ease;
			box-shadow: 0 0 0 var(--highlight-size) var(--thumb-color-highlight);
			margin: unset; // compatibility with wp-admin/css/forms.css
			transform: translateX(var(--thumb-position));
		}

		&:checked {
			background: #4caf50;
			--thumb-position: calc((var(--track-size) - 100%) * var(--isLTR));
		}
	}
}
