composer.lock
.DS_Store
node_modules
package-lock.json
*.LICENSE.txt
.nx


/vendor/*
!/vendor/composer/
!/vendor/woocommerce/
!/vendor/autoload.php

/vendor/woocommerce/action-scheduler/changelog.txt
/vendor/woocommerce/action-scheduler/readme.txt
/vendor/woocommerce/action-scheduler/README.md

/vendor/bin
/vendor/composer/installed.json