* text=auto

.gitattributes          export-ignore
.gitignore              export-ignore
composer.json           export-ignore
phpcs.xml               export-ignore
README.md               export-ignore
readme.txt              export-ignore
wp-cli.local.yml        export-ignore

assets/src              export-ignore
assets/scss             export-ignore
assets/.babelrc         export-ignore
assets/.gitignore       export-ignore
assets/*.js             export-ignore
assets/*.json           export-ignore
assets/.config          export-ignore
assets/.helpers         export-ignore

.husky                  export-ignore

