header.page-header, header.entry-header, .jfb-use-form-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;

    h1 {
        flex: 0;
        text-wrap: nowrap;
    }

    .jfb-use-form-wrapper {
        flex: 1;
    }
}