.components-panel {
	.jet-form-action {
		border-radius: 0;
		box-shadow: 0 0 0 1px #e0e0e0;
		border: none;

		.components-card__body {
			border-radius: 0;
			box-shadow: none;
			padding: 8px 5px;
		}
		.components-elevation {
			display: none;
		}
	}
}

.jfb-actions-grid {
	.jfb-action-grid-item {
		h5 {
			font-size: 14px;
			padding: 10px 0 0 0;
		}
		&:hover {
			border-color: var(--wp-admin-theme-color);
			background: var(--jet-fb__light-accent-color) !important;
		}
	}
}