.jet-form-builder__user-access-control {
	margin-bottom: 24px;
}

.jet-form-builder__user-access-control .components-base-control {
	margin-bottom: 0;
}

.jet-form-builder__user-access-control--error .components-base-control__label::after {
	color: #cc1818;
	content: " *";
}

.jet-form-builder__user-access-control--error .components-base-control__help {
	color: #cc1818;
}

.jet-form-builder__user-access-control--error .components-input-control__backdrop {
	border-color: #cc1818 !important;
	box-shadow: 0 0 0 1px #cc1818 !important;
}

.jet-form-builder__user-access-control--error .components-select-control__input:focus ~ .components-input-control__backdrop {
	border-color: #cc1818 !important;
	box-shadow: 0 0 0 1px #cc1818 !important;
}