.jet-form-builder__field-wrap.has-eye-icon {
	position: relative;

	.jet-form-builder__field {
		padding-right: 34px;
	}
}

.jfb-eye-icon {
	position: absolute;
	top: calc(50% - 12px);
	right: 5px;
	cursor: pointer;
	user-select: none;
	line-height: 0;

	.rtl & {
		left: 5px;
		right: unset;
	}

	.unseen-icon, .seen-icon {
		display: none;
	}

	&.seen {
		.seen-icon {
			display: block;
		}
	}

	&:not(.seen) {
		.unseen-icon {
			display: block;
		}
	}
}