.cs-vui-title,
.wrap .cs-vui-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 37px;
	color: $color__heading;
	padding: 0 0 20px;
	margin: 0;
	font-family: $font_family;
}
.cx-vui-subtitle {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: $color__heading;
	padding: 0;
	margin: 0;
	font-family: $font_family;
}