@import "../components/progress-bar";
@import "./components/modal";
@import "./components/actions-plugin";
@import "../components/action-buttons";
@import "./components/toolbar";
@import "./components/buttons";
@import "./components/repeater";
@import "./components/controls";

:root {
	--jet-fb__range-field-slider--size: 18px;
	--jet-fb__range-field-range--height: 4px;
}

.jet-form-builder {
	background: #fff;
	margin: 20px 0 0 0;
	padding: 0;
	border: 1px solid #ccd0d4;
}

.jet-form-builder > .components-drop-zone__provider {
	display: flex;
	justify-content: space-between;
	min-height: 60vh;
	flex-wrap: wrap;
}

.jet-form-builder__sidebar {
	flex: 0 0 30%;
	order: 2;
	border-left: 1px solid #e2e4e7;
}

.jet-form-builder__content,
.editor-styles-wrapper {
	flex: 0 0 65%;
	padding: 10px 0 35px;
	order: 1;
}

.block-editor-block-contextual-toolbar:not([data-align="wide"]):not([data-align="full"]) .block-editor-block-mover:not(.is-horizontal).is-visible {
	opacity: 1;
}

.editor-styles-wrapper .block-editor-block-list__block {
	min-height: 45px;
}

.jet-form-builder .editor-post-title__block {
	padding-left: 40px;
}

.block-editor-block-list__layout.is-root-container {
	padding-left: 40px;
}

.jet-form-builder__header {
	width: 100%;
	flex: 0 0 100%;
	box-sizing: border-box;
	display: flex;
	padding: 0 40px 0 6px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e2e4e7;
	height: 60px;
}

.jet-form-action {
	margin-bottom: 10px;

	.components-base-control__field {
		margin: 0;
	}

	&.is-disabled {
		background-image: repeating-linear-gradient(-45deg, #ffffff75 0 20px, #d5d5d57d 20px 40px);
	}

	&.is-current {
		animation: show-current 2s infinite;
	}

	@keyframes show-current {
		50% {
			box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
		}
	}
}

.jet-form-editor__macros-trigger {
	height: 36px;
	min-height: 36px;
}

.jet-form-editor__macros-inserter {
	position: absolute;
	right: 1px;
	top: 14px;
	z-index: 20;
	background: whitesmoke;
}

.jet-form-dynamic-preset {
	position: relative;

	.components-base-control {
		flex: 3;

		.components-base-control__field {
			border-top: unset;

			textarea {
				padding-right: 36px;
				width: calc(100% - 31px);
			}

			input {
				padding-right: 28px;
			}
		}
	}

	.jet-control-with-dynamic .components-base-control__field input {
		margin-left: 6px;
	}

	&__trigger {
		width: 31px;
		height: 31px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 2px 2px 0;
		border: 1px solid #757575;
		margin: 26px 0 0 0;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 20;
	}

	&__trigger {
		&.trigger__textarea {
			margin-top: unset;
			border-radius: 0 0 0 5px;
			border-width: 0 0 1px 1px;
			background-color: white;
			top: 20px;
			right: 1px;
		}

		&.trigger__text-control {
			margin: 0;
			border-width: 0 1px 1px 1px;
			top: 14px;
			right: 0;
			border-left: unset;
		}

		&:not(.trigger__textarea) {
			border-left-width: 0;
		}

		&:hover svg path {
			fill: #007cba;
			fill: var(--wp-admin-theme-color);
		}

		svg {
			width: 50%;
		}
	}
}

.jet-form-builder__flex-controls {
	display: flex;
}

.jet-form-builder__flex-controls .repeater-item-column label {
	flex: 0 0 1em;
	margin-right: 1em;
}

.jet-form-builder__flex-controls .repeater-item-column input {
	margin-right: 1em;
}

.field-mime-types.field-mime-types select[multiple] {
	height: 7rem;
}

.field-mime-types.field-mime-types svg {
	display: none;
}

.jet-user-meta-rows {
	flex: 0 0 40%;
}

.jet-user-fields-map__list {
	flex: 3;
	padding-top: 0.5em;
	margin-left: -6px;
}

.jet-user-fields-map__list .components-flex__item {
	flex: 2;
}

.block-editor-block-list__block[data-type="jet-forms/form-break-field"] {
	max-width: 100%;
	margin-top: 28px;
	margin-bottom: 28px;
}

.block-editor-block-list__block[data-type="jet-forms/group-break-field"] {
	margin-top: 28px;
	margin-bottom: 28px;
}

.block-editor-block-list__block[data-type="jet-forms/repeater-field"],
.block-editor-block-list__block[data-type="jet-forms/conditional-block"],
.block-editor-block-list__block[data-type^="jet-forms/"] .inside-block-options {
	padding: 20px;
	background: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(22, 43, 64, .1);
	box-shadow: 0 2px 4px rgba(22, 43, 64, .1);
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}

.block-editor-block-list__block[data-type^="jet-forms/"] .inside-block-options {
	margin-bottom: 20px;
}

.block-editor-block-list__block[data-type="jet-forms/repeater-field"]:hover,
.block-editor-block-list__block[data-type="jet-forms/conditional-block"]:hover {
	-webkit-box-shadow: 0 20px 20px rgba(22, 43, 64, .12);
	box-shadow: 0 20px 20px rgba(22, 43, 64, .12);
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}

.jet-form-builder__bottom-line {
	display: block;
	white-space: nowrap;

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #ccc;
	}

	& > span {
		font-size: 13px;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
		color: #757575;
		border-radius: 4px;
		background: #fff;
		padding: 6px 8px;
		height: 24px;
	}
}

.jet-form-builder__field-wrap.range-wrap fieldset.components-input-control__backdrop {
	border: none;
}

.jet-form-builder__field-wrap.range-wrap {
	width: 100%;

	input[type="range"] {
		margin-right: 10px;
		-webkit-appearance: none;
		min-height: 18px;
		border: 0;

		&:focus {
			padding: 0;
			background: transparent;
			border: none;
			border-radius: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			outline: none
		}
	}

	.range-flex-wrap {
		display: flex;
		/*display: -webkit-box;*/
		display: -ms-flexbox;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		.components-input-control {
			margin-right: auto;
			flex: 1;
		}

		.jet-form-builder__field-value {
			white-space: nowrap;
			margin-left: 10px;
			display: flex;
		}

		.components-input-control__container {
			background-color: rgba(255, 255, 255, 0);
		}
	}
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: var(--jet-fb__range-field-range--height, 4px);
	cursor: pointer;
	/**
	test
	*/
	background: #e3ddd8;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-moz-range-track {
	width: 100%;
	height: var(--jet-fb__range-field-range--height, 4px);
	cursor: pointer;
	background: #e3ddd8;
	box-shadow: none;
	border: none
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-ms-track {
	width: 100%;
	height: var(--jet-fb__range-field-range--height, 4px);
	cursor: pointer;
	background: #e3ddd8;
	box-shadow: none;
	border: none;
	color: transparent
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-ms-fill-lower {
	background: transparent
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-ms-fill-upper {
	background: transparent
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-webkit-slider-thumb {
	width: var(--jet-fb__range-field-slider--size, 18px);
	height: var(--jet-fb__range-field-slider--size, 18px);
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin-top: calc((var(--jet-fb__range-field-slider--size, 18px) - var(--jet-fb__range-field-range--height, 4px)) / -2);
	-webkit-appearance: none
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-moz-range-thumb {
	width: var(--jet-fb__range-field-slider--size, 18px);
	height: var(--jet-fb__range-field-slider--size, 18px);
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: none;
	border: none
}

.jet-form-builder__field-wrap.range-wrap input[type="range"]::-ms-thumb {
	width: var(--jet-fb__range-field-slider--size, 18px);
	height: var(--jet-fb__range-field-slider--size, 18px);
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: none;
	border: none
}


.jet-form-builder__field-wrap.range-wrap .components-input-control__backdrop[aria-hidden="true"] {
	border-width: 0;
}

.jet-form-builder__field-settings .help-input {
	margin-bottom: 2em;
	font-size: 12px;
	color: rgb(117, 117, 117);
}

.jet-form-edit-modal .jet-post-field-control {
	display: flex;
	position: relative;
}

.jet-form-edit-modal .jet-post-field-control .components-base-control__field {
	padding: 0;
	border: none;
}

.jet-form-edit-modal .jet-post-field-control .components-base-control:nth-child(2) {
	position: absolute;
	left: 25em;
}

.jet-field-map__row-label .fields-map__required {
	color: red;
	font-weight: 900;
}

.jet-form-load-button.components-button.loading i, .jet-form-validate-button.components-button.loading i {
	animation: jet-form-editor-spin 2s infinite linear
}

.jet-form-validate-button.components-button i.dashicons:before {
	content: "";
}

.jet-form-validate-button.components-button i.dashicons {
	margin-right: 4px;
}

.jet-form-validate-button.components-button.is-valid i.dashicons:before {
	content: "";
	color: #46b450
}

.jet-form-validate-button.components-button.is-invalid i.dashicons:before {
	content: "";
	color: #a00
}

@keyframes jet-form-editor-spin {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(359deg)
	}
}

.jet-form-edit-modal__content .description-controls {
	color: #999;
	display: block;
	margin-bottom: 1.2em;
}

.jet-form-builder-row {
	overflow: hidden;
	display: block;
}

.rtl .jet-form-editor__macros-inserter {
	left: 15px;
	right: unset;
}

.rtl .jet-form-builder__field-wrap.range-wrap .range-flex-wrap .jet-form-builder__field-value {
	margin-left: unset;
	margin-right: 10px;
}

.jet-form-edit-modal .input-with-button .components-input-control__container,
.jet-form-edit-modal .input-with-button .components-text-control__input {
	width: 30em;
	margin-right: 1em;
}

.jet-form-edit-modal .with-wrap .components-base-control__field {
	flex-wrap: wrap;
}

select.components-select-control__input.components-select-control__input.components-select-control__input {
	max-width: 100vw;
	width: 100%;
	line-height: 1.5;
	padding: 1px 24px 1px 8px;
}

.jet-form-builder__calculated-field {
	display: flex;
	width: 100%;
}

.components-text-control__input {
	margin: unset;
	box-sizing: border-box;
	flex: 3;
}

.flex-column .components-base-control__field {
	flex-direction: column;
}

.edit-post-sidebar .components-input-control.components-number-control {
	margin-bottom: 2em;
}


.jet-label-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}

.jet-control-clear .components-base-control__field {
	padding-top: unset;
	border-top: unset;
}

.jet-control-clear-full {
	flex: 3;
}

.jet-control-clear-full .components-base-control__field {
	display: block;
	padding: unset;
	border-top: unset;
}

.editor-styles-wrapper .wp-block.wp-block.wp-block {
	max-width: 100%;
}

.editor-styles-wrapper p.components-base-control__help {
	font-size: 12px;
	line-height: 1.5;
	margin: 1em 0;
}

.components-button.has-icon:not(.has-text) .dashicon.dashicon {
	margin: unset;
}

.jet-form-builder-repeater__remove {
	margin-top: 10px;
}

.interface-complementary-area-header.components-panel__header {
	z-index: 100;
}

.jet-form-edit-modal .jet-inline-radio .components-radio-control__option:not(:nth-child(1)):not(:nth-child(2)) {
	margin-left: 1em;
}

.jet-control-full {
	padding: 12px 0 5px;
	border-top: 1px solid #ddd;
}

.jet-border-unset.components-base-control div.components-base-control__field.components-base-control__field {
	border-top: unset;
}

.jet-user-meta__row .components-flex.components-select-control {
	display: block;
	flex: 1;
}

.jet-modal-fixed-height .jet-form-edit-modal__wrapper {
	display: flex;
	flex-direction: column;
	height: calc(100% - 86px);
	justify-content: space-between;
}

.jet-custom-select-control {
	display: flex;
}

.jet-custom-select-control .components-custom-select-control__label {
	margin-right: 7.7em;
}

.jet-margin-bottom-wrapper > div:not(:last-child) {
	margin-bottom: 1.2em;
}

.jet-form-builder-row {
	.components-base-control__label {
		display: flex;
	}

	&.jet-form-builder-row__flex .components-base-control__label {
		display: block;
	}
}

.jet-form-builder__desc--wrapper {
	display: flex;

	.jet-form-builder-row__flex & {
		display: block;
	}
}

.jet-form-builder-row__flex {
	&--label {
		flex: 1 1 0;

		.components-base-control__label {
			margin-bottom: 1em;
		}
	}

	&--content {
		flex: 3 1 0;

		.components-input-control {
			display: block;
		}
	}
}

.components-base-control__label .jet-form-builder__label {
	width: 100%;

	& > div, & > span {
		display: inline-block;
	}

	.rich-text::after {
		content: ' ';
	}
}

.jet-form-builder__desc {
	width: 100%;
}

.has-fixed-toolbar .jet-form-toggle-box {
	padding: 1px 12px 0 12px;
}

.jet-form-toggle-box {
	padding: 0 12px;

	.components-clipboard-button.has-icon {
		position: absolute;
		right: -8px;
		padding: 0;
		height: 30px;
	}

	input.components-text-control__input {
		padding-right: 2.5em;
	}

	.components-base-control__field {
		margin: 0;
	}
}

.jet-fb-control__input.jet-fb-control__input {
	max-width: unset;
	padding: 0 24px 0 8px;
	width: 100%;
}

.jet-fb-with-border:not(:last-child) {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.2em;
	padding-bottom: 1.2em;
}

.jet-form-edit-modal div.components-input-control__container {
	flex: 3;
	margin-left: unset;
}

.jet-form-edit-modal .components-textarea-control__input {
	flex: 3;
}

.jet-form-edit-modal .components-base-control__label + select.components-select-control__input {
	flex: 3;
	margin-left: 6px;
}

.jet-form-builder-row__flex > .components-base-control__field {
	display: flex;
}

.jet-d-flex-between {
	display: flex;
	justify-content: space-between;
}

.jet-d-flex-between > div {
	flex: 0.9;
}

.jet-required-field {
	label.components-base-control__label, label.components-input-control__label {
		&::after {
			content: ' *';
			color: red;
			font-weight: 700;
		}
	}
}

.jet-fb-notice > a {
	transition: .2s ease-in-out;
	text-decoration: none;
	display: flex;
	gap: 0.8em;
	width: fit-content;
	padding: 0.3em;
	padding-left: unset;
	background-color: #eee;
	border-radius: 50px;
	opacity: 0.5;

	.dashicons:before {
		content: "\f14c";
		border-radius: 50px;
		background: #4272f9;
		background: radial-gradient(circle, #4272f9 1%, #fff 100%);
		color: #fff;
		padding: 2px;
	}

	&:hover {
		opacity: 1;
		/*.dashicons:before {
			content: "\f504";
		}*/
	}
}

ul.jet-fb-ul-revert-layer {
	list-style: revert-layer;

	li {
		list-style: revert-layer;
	}
}

$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);

@mixin media($minmax, $media) {
	@each $size, $resolution in $sizes {
		@if $media == $size {
			@media only screen and (#{$minmax}-width: $resolution) {
				@content;
			}
		}
	}
}

@include media("min", "xl") {
	.components-base-control {
		&.components-checkbox-control.jet-forms-checkbox-field {
			position: relative;

			.components-base-control__help {
				position: absolute;
				top: 0;
				right: 0;
			}

			&:first-child .components-base-control__help {
				margin-top: unset;
			}
		}
	}
}


