.jet-form-builder {
	&__action-button-wrapper {
		display: flex;
		width: 100%;
	}

	&__submit-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: flex-start;
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		width: 100%
	}
}