.jet-form-builder-choice {
	&--item {
		border: 2px solid var(--wp--preset--color--tertiary, #bfbfbf);
		padding: 20px;
		display: block;
		background-color: var(--choice-bg, transparent) !important;
		cursor: pointer;
		transition: all 0.2s ease-out;

		&:focus {
			background-color: var(--choice-focus-bg, rgba(179, 222, 246, 0.25)) !important;
		}

		&.is-checked {
			background-color: var(--choice-checked-bg, var(--wp--preset--color--cyan-bluish-gray)) !important;
		}
	}
}