.jet-form-builder-choice {
	&--item {
		border: 2px solid var(--wp--preset--color--tertiary, #bfbfbf);
		padding: 20px;
		display: block;
		background-color: var(--choice-bg, transparent);
		cursor: pointer;
		transition: all 0.2s ease-out;

		&.is-checked {
			background-color: var(--choice-checked-bg, transparent);
		}

		&-control {
			display: flex;
			align-items: center;
			gap: 0.5em;

			&-img {
				width: var(--control-width, 24px);
			}
		}
	}
}