.jet-form-action {
	option[disabled] {
		background-color: #d3d3d35e;
	}

	&-control {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}

	&-details {
		padding: 0.6em;
		margin-top: 0.5em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		[data-title] {
			&:before {
				content: attr(data-title);
				color: darkgrey;
				margin-right: 0.5em;
			}
		}
	}

	.jfb-events-item {
		padding: 0 4px;
		border-radius: 5px;
		color: #5c5c5c;
		font-size: 0.9em;
		background-color: #f3f4f5;
		cursor: pointer;
		margin: auto;
		border: 0;
		font-family: monospace;

		&:after {
			content: ' X';
			font-weight: bold;
		}

		&:focus {
			outline: 1px solid #5c5c5c;
			background-color: #e7e8e9;
		}
	}
}