.jet-fb-is-thick {
	&.is-small {
		padding: unset;
		min-width: unset;
	}
	&.is-tertiary {
		box-shadow: none;
	}
}
.jet-fb-button {
	&.w-100.w-100.w-100 {
		width: 100%;
	}
	&.jc-center.jc-center.jc-center {
		justify-content: center;
	}

	&.components-button.has-icon {
		position: relative;

		span.dashicons-randomize[data-count]:after {
			content: attr(data-count);
			position: absolute;
			font-size: 0.7em;
			background-color: var(--wp-admin-theme-color);
			color: #fff;
			padding: 2px;
			border-radius: 5px;
			top: 0;
			font-family: monospace;
		}
	}
}