.jet-fb {
	&.flex {
		display: flex;

		&-center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-dir-column {
			flex-direction: column;
		}
	}

	&.jc {
		&-space-between {
			justify-content: space-between;
		}

		&-center {
			justify-content: center;
		}
	}

	&.ai-center {
		align-items: center;
	}

	&.mb-24 {
		margin-bottom: 24px;
	}

	&.mb-05-em {
		margin-bottom: 0.5em;
	}

	&.p-06em {
		padding: 0.6em;
	}

	&.m {
		&-unset {
			margin: unset;
		}

		&-top-05em {
			margin-top: 0.5em;
		}
	}

	&.show {
		opacity: 1;
	}

	&.hide {
		opacity: 0;
	}

	&.container {
		border: 1px solid rgba(0, 107, 161, 0.4);
		background: rgba(0, 107, 161, 0.05);
		padding: 12px 15px 15px;
	}

	&.p {
		&-absolute {
			position: absolute;
		}

		&-relative {
			position: relative;
		}
	}

	&.w-100 {
		width: 100%;
	}

	&.h-100 {
		height: 100%;
	}

	&.wh-100 {
		width: 100%;
		height: 100%;
	}

	&.gap {
		&-1em {
			gap: 1em;
		}

		&-05em {
			gap: 0.5em;
		}

		&-default {
			gap: 8px;
		}
	}

	[data-title] {
		&:before {
			content: attr(data-title);
			color: darkgrey;
			margin-right: 0.5em;
		}
	}

	&.clear-control {
		.components-base-control__field {
			padding-top: unset;
			border-top: unset;
		}
	}

	&.label {
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		box-sizing: border-box;
		display: block;
		padding-top: 0;
		padding-bottom: 0;
		max-width: 100%;
		z-index: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&.with-button {
		display: flex;
		justify-content: space-between;

		& > *:first-child {
			flex: 0.97;
		}

		& > button {
			margin-bottom: 1.1em
		}

		&.clear-label {
			.components-form-token-field__label {
				display: none;
			}
		}
	}

	&.toggle-toolbar-group.components-toolbar-group {
		.components-base-control__field {
			margin-bottom: unset;
		}

		.components-base-control {
			display: flex;
			align-items: center;
		}
	}
}