// Base
.jet-form-builder {
  input {
    color-scheme: var(--jfb-input-color-scheme);
  }
}

// Row
.jet-form-builder-row {
  margin-top: var(--jfb-row-mt);
  margin-bottom: var(--jfb-row-mb);
}

// Label
.jet-form-builder__label {
  background-color: var(--jfb-label-bgc);
}

// Description
.jet-form-builder__desc {
  background-color: var(--jfb-desc-bgc);
}

// Input
.jet-form-builder__field {
  &::placeholder {
    color: var(--jfb-input-phc);
  }

  &.textarea-field {
    height: var(--jfb-input-h);
    min-height: var(--jfb-input-h);
  }
}

// Checkbox and radio
.jet-form-builder__field-label {
  > span::before {
    font-size: var(--jfb-checkradio-fz);
    background-color: var(--jfb-checkradio-input-bgc);
  }

  &.for-checkbox,
  &.for-radio {
    :checked + span::before {
      background-color: var(--jfb-checkradio-input-checked-bgc, #0b76ef);
    }
  }
}

.jet-form-builder__field-wrap {
  &.checkradio-wrap {
    display: var(--jfb-checkradio-d);
    margin-right: var(--jfb-checkradio-mr);
  }
}

// Calculated
.jet-form-builder__calculated-field {
  gap: var(--jfb-calc-gap);
  justify-content: var(--jfb-calc-justify-content);
  background-color: var(--jfb-calc-bgc);
}

.jet-form-builder__calculated-field-prefix {
  font-size: var(--jfb-calc-prefix-fz);
  color: var(--jfb-calc-prefix-color);
}

.jet-form-builder__calculated-field-suffix {
  font-size: var(--jfb-calc-suffix-fz);
  color: var(--jfb-calc-suffix-color);
}

// Range
.jet-form-builder__field-value {
  gap: var(--jfb-range-value-gap);
}

.jet-form-builder__field-value-prefix {
  font-size: var(--jfb-range-value-prefix-fz);
  color: var(--jfb-range-value-prefix-color);
}

.jet-form-builder__field-value-suffix {
  font-size: var(--jfb-range-value-suffix-fz);
  color: var(--jfb-range-value-suffix-color);
}

.jet-form-builder__field-wrap {
  &.range-wrap {
    max-width: var(--jfb-range-mw);
  }
}

// Heading
.jet-form-builder__heading {
  background-color: var(--jfb-heading-bgc);
}

.jet-form-builder__heading-desc {
  background-color: var(--jfb-heading-desc-bgc);
}

// Repeater
.jet-form-builder-repeater__actions {
  justify-content: var(--jfb-repeater-add-button-justify-content);
}

.jet-form-builder-repeater__remove {
  font-size: var(--jfb-repeater-rem-button-fz);
  line-height: 1;
  color: var(--jfb-repeater-rem-button-color);
  background-color: var(--jfb-repeater-rem-button-bgc);
}

// Conditional
.jet-form-builder__conditional {
  background-color: var(--jfb-conditional-bgc);
}

// Submit
button.jet-form-builder__submit {
  justify-content: center
}

.jet-form-builder__submit {
  width: var(--jfb-submit-w);
}

.jet-form-builder__submit-wrap {
  justify-content: var(--jfb-submit-justify-content);
}

// Form break
.jet-form-builder__next-page-wrap {
  text-align: var(--jfb-break-text-align);
}

.jet-form-builder__next-page-msg {
  background-color: var(--jfb-break-message-bgc);
}

// Progress wrapper
.jet-form-builder-progress-pages {
  background-color: var(--jfb-progress-wrapper-bgc);
}

// Progress pages
.jet-form-builder-progress-pages__item {
  background-color: var(--jfb-progress-default-page-bgc);
}

.jfb-progress-type--default {
  .jet-form-builder-progress-pages__separator {
    height: var(--jfb-progress-default-page-separator-h, 1px);
    background-color: var(--jfb-progress-default-page-separator-color, gray);
  }

  .jet-form-builder-progress-pages__item--wrapper {
    &.passed-page {
      .jet-form-builder-progress-pages__item {
        background-color: var(--jfb-progress-passed-page-bgc);

        + .jet-form-builder-progress-pages__separator {
          height: var(--jfb-progress-passed-page-separator-h, 3px);
          background-color: var(--jfb-progress-passed-page-separator-color);
        }
      }
    }

    &.active-page {
      .jet-form-builder-progress-pages__item {
        background-color: var(--jfb-progress-active-page-bgc);

        + .jet-form-builder-progress-pages__separator {
          height: var(--jfb-progress-active-page-separator-h, 3px);
          background-color: var(--jfb-progress-active-page-separator-color);
        }
      }
    }
  }
}

// Message
.jet-form-builder-message--success {
  background-color: var(--jfb-message-success-bgc);
}

.jet-form-builder-message--error {
  background-color: var(--jfb-message-error-bgc);
}

// Context
.layout-column {
  .jet-form-builder__field {
	  width: var(--jfb-input-w, 100%);
	  max-width: var(--jfb-input-w, 100%);
	  flex-basis: var(--jfb-input-w, 100%);
  }
}

.layout-row {
  .jet-form-builder__field {
	  width: var(--jfb-input-w, 100%);
  }
}

