.jet-form-builder-repeater {
    &__initial {
        display: none;
    }

    &__row {
        display: flex;
        width: 100%;
        align-items: flex-start;
        padding: 15px 0;
    }

    &__row-fields {
        flex: 1 1 auto;
    }

    &__actions {
        display: flex;
        margin: 10px 0 0 0;
    }

    &__remove {
        margin: 0 0 0 10px;
        text-decoration: none !important
    }
}