.jet-form-builder-page {

	p.fb-description {
		font-size: 13px;
		color: #7b7e81;
		margin: 0 0 1.5rem 0;
	}

	$error-color: rgba(252, 61, 49, 0.75);

	.cx-vui-button {
		&--style-accent-error {
			background-color: $error-color;
			color: white;
		}

		&--style-accent-error-border {
			border: 1px solid $error-color;
			color: $error-color;
		}

		&--size-mini-x2 {
			padding: 0.3em 0.7em;
		}

		&.unset-box-shadow {
			box-shadow: none;

			&:hover {
				box-shadow: 0 2px 6px rgb(35 40 45 / 24%);
			}
		}
	}

	&__panel {
		min-width: 292px;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 30px;
		background-color: white;
		box-shadow: 0px 2px 6px rgba(35, 40, 45, 0.07);

		& ~ .jet-form-builder-page__panel {
			margin-top: 20px;
		}

		> .cx-vui-subtitle {
			margin-bottom: 20px;
		}
	}

	&__panel-header {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.panel-header-icon {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 46px;
			height: 46px;
			border-radius: 50%;
			border: 1px solid #7B7E81;
			margin-right: 12px;
		}

		.panel-header-content {
			display: flex;
			flex-direction: column;

			.panel-header-desc {
				font-size: 14px;
				line-height: 18px;
				font-weight: 300;
				color: #7B7E81;
				margin-bottom: 3px;
			}

			.panel-header-title {
				font-size: 20px;
				line-height: 24px;
				color: #23282D;
			}
		}
	}

	&__panel-content {
		margin-top: 12px;
		border-top: 1px solid #DCDCDD;
		padding-top: 23px;

		font-size: 12px;
		line-height: 16px;
		color: #7B7E81;
	}

	&__panel-controls {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 20px;
	}

	&__guide {
		width: 100%;

		@media (max-width: 1140px) {
			width: calc(100% / 2);
		}
	}

	&__guide-videos {
	}

	&__guide-video {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 162px;
		background-color: white;
		background-size: cover;
		background-position: 50%;
		overflow: hidden;
		border-radius: 3px 3px 0 0;
		cursor: pointer;

		svg {
			transition: all .25s ease;
		}

		&:hover {
			svg {
				transform: scale(1.1);
			}
		}
	}

	&__guide-content {
		background-color: white;
		padding: 20px 30px 40px 30px;
		border-radius: 0 0 3px 3px;
	}

	&__guide-links {
		display: flex;
		flex-direction: column;
	}

	&__guide-link {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 22px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			font-size: 14px;
			line-height: 18px;
			color: #007CBA;
			text-decoration: none;

			&:hover {
				color: #066EA2;
				text-decoration: underline;
			}

			svg {
				margin-top: 3px;
				margin-left: 10px;
			}
		}
	}

}